<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CRUDTutorialUsingLINQ.Properties.Settings.programingTutorialDbConnectionString"
            connectionString="Data Source=DESKTOP-A2VIQU6\SQLEXPRESS;Initial Catalog=programingTutorialDb;Integrated Security=True;Server Certificate=&quot;True &quot;;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>